.header{
  .step{
    @include span(1 of 5);
    text-align: center;
    span{
        display: none;
    }
  }
}

.basketName{
    @include span(full);
}

.basketPosition{
    @include span(full){
        .articleImage{
            @include span(2){
                img{
                    @include span(full);
                }
            };
        }

        .articleDetails{
            @include span(3);
        }

        .buttons{
            @include span(1);
        }

        .amountAndPrice{
            @include span(full){
                .amount{
                    @include span(4);
                }
                .price{
                    @include span(2);
                }
            };
        }
    };
}

.prizes{
    @include span(full){
        .label{
             @include span(4);
        }
        .value{
             @include span(2);
             text-align: right;
             padding-right: 1em;
        }
    };
}

.buttons{
    @include span(full){
        .goShopping{
            @include span(3){
                button{
                    @include span(full);
                }
            }
        }
        .checkout{
            @include span(2 at 5){
                button{
                    @include span(full);
                }
            }
        }
    }
}