/* line 14, ../../../../../.rvm/gems/ruby-1.9.3-p547/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/_grid.scss */
.grid {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7px;
}
/* line 12, ../../../../../.rvm/gems/ruby-1.9.3-p547/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 28em) {
  /* line 27, ../sass/_grid.scss */
  .grid {
    padding: 0 15px;
  }
}

/* line 3, ../sass/_uebung2_layout.scss */
.header .step {
  width: 20%;
  float: left;
}

/* line 10, ../sass/_uebung2_layout.scss */
.singleBasket {
  width: 100%;
  float: left;
}
/* line 13, ../sass/_uebung2_layout.scss */
.singleBasket .basketName {
  width: 100%;
  float: left;
}
/* line 18, ../sass/_uebung2_layout.scss */
.singleBasket .articleDisplay .articleImage {
  width: 100%;
  width: 33.33333%;
  float: left;
}
/* line 24, ../sass/_uebung2_layout.scss */
.singleBasket .articleDisplay .articleDetails {
  width: 50%;
  float: left;
}
/* line 28, ../sass/_uebung2_layout.scss */
.singleBasket .articleDisplay .buttons {
  width: 16.66667%;
  float: left;
}
/* line 34, ../sass/_uebung2_layout.scss */
.singleBasket .amountAndPrice {
  width: 100%;
  float: left;
}
/* line 36, ../sass/_uebung2_layout.scss */
.singleBasket .amountAndPrice .amount {
  width: 50%;
  float: left;
}
/* line 39, ../sass/_uebung2_layout.scss */
.singleBasket .amountAndPrice .price {
  float: right;
}
/* line 48, ../sass/_uebung2_layout.scss */
.singleBasket .prizes {
  width: 100%;
  float: left;
}
/* line 50, ../sass/_uebung2_layout.scss */
.singleBasket .prizes .zwischensumme_txt {
  width: 50%;
  float: left;
}
/* line 53, ../sass/_uebung2_layout.scss */
.singleBasket .prizes .zwischensumme_value {
  width: 50%;
  float: left;
  text-align: right;
}
/* line 58, ../sass/_uebung2_layout.scss */
.singleBasket .prizes .versandkosten_txt {
  width: 50%;
  float: left;
}
/* line 62, ../sass/_uebung2_layout.scss */
.singleBasket .prizes .gesamt_txt {
  width: 50%;
  float: left;
  font-weight: bold;
}
/* line 66, ../sass/_uebung2_layout.scss */
.singleBasket .prizes .gesamt_value {
  width: 50%;
  float: left;
  text-align: right;
  font-weight: bold;
}

/* line 78, ../sass/_uebung2_layout.scss */
.weiter_kasse {
  width: 100%;
  float: left;
}
/* line 80, ../sass/_uebung2_layout.scss */
.weiter_kasse .goShopping {
  width: 50%;
  float: left;
}
/* line 82, ../sass/_uebung2_layout.scss */
.weiter_kasse .goShopping button {
  width: 100%;
  float: left;
}
/* line 88, ../sass/_uebung2_layout.scss */
.weiter_kasse .checkout {
  width: 33.33333%;
  float: right;
}
/* line 90, ../sass/_uebung2_layout.scss */
.weiter_kasse .checkout button {
  width: 100%;
  float: left;
}

@media (min-width: 48em) {
  /* line 100, ../sass/_uebung2_layout.scss */
  .singleBasket {
    width: 100%;
    float: left;
  }
  /* line 103, ../sass/_uebung2_layout.scss */
  .singleBasket .basketName {
    width: 66.66667%;
    float: left;
  }
  /* line 108, ../sass/_uebung2_layout.scss */
  .singleBasket .articleDisplay .articleImage {
    width: 100%;
    width: 8.33333%;
    float: left;
  }
  /* line 114, ../sass/_uebung2_layout.scss */
  .singleBasket .articleDisplay .articleDetails {
    width: 33.33333%;
    float: left;
  }
  /* line 118, ../sass/_uebung2_layout.scss */
  .singleBasket .articleDisplay .buttons {
    width: 8.33333%;
    float: left;
  }
  /* line 124, ../sass/_uebung2_layout.scss */
  .singleBasket .amountAndPrice .amount {
    width: 16.66667%;
    float: left;
  }
}
