// FOOTER STYLE
@function radnomPercentage() {
  @return percentage(random(100)/100);
}

@mixin footerItemStyle(){
  border : 1px solid;
  height: radnomPercentage();
  background-color: red;
}

@mixin footerStyle(){
  display: none;
  height:200px;
  #{$footer_item} {
    @include footerItemStyle();
  }
}
