$product :                        ".p13n_productRecommendation";
$product_productImageContainer :  ".productImageContainer";
$product_priceInfo :              ".priceInfo";
$product_title :                  ".title";

$footer :                         ".footer";
$footer_item :                    ".item";
