// FOOTER STYLE
@function randomPixel() {
  @return random(500);
}

@mixin footerItemStyle(){
  border : 1px solid;
  height: randomPixel()+px;
  background-color: red;
}

@mixin footerStyle(){
  display: none;
  height:100%;
  #{$footer_item} {
    @include footerItemStyle();
  }
}


