// Basic settings
$susy: (
        columns: 6,
        gutters: 0,
        gutter-position: inside,
        container: 1152px,
);

// Base is 16px at this point
// Smartphone			: 448px		 6 columns 	-->  448-UP
$medium-width			: 28em;
$medium-cols			: 6;
$medium-breakpoint: $medium-width, $medium-cols;

// Tablet 				: 768px 	 6 columns 	-->  768-UP
$large-width			: 48em;
$large-cols			    : 12;
$large-breakpoint: $large-width, $large-cols;

// Desktop 				: 992px 	12 columns 	--> 992-UP
$extra-large-width		: 62em;
$extra-large-cols		: 12;
$extra-large-breakpoint: $extra-large-width, $extra-large-cols;

// Box model
@include border-box-sizing;

// Grid container
.grid {
  @include container();

  @include show-grid($susy);


}
