/* line 14, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../../sass/defaults/_grid.scss */
.grid {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7px;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 28em) {
  /* line 29, ../../sass/defaults/_grid.scss */
  .grid {
    padding: 0 15px;
  }
}

/* line 1, ../../sass/uebung3/_uebung3_layout.scss */
.p13n_productRecommendation {
  width: 50%;
  float: left;
}

@media (min-width: 62em) {
  /* line 6, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_productRecommendation {
    width: 25%;
    float: left;
  }
}
/* line 9, ../../sass/uebung3/uebung3.scss */
.p13n_productRecommendation {
  border: 1px solid;
}
