/* line 14, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../../sass/defaults/_grid.scss */
.grid {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../var/lib/gems/1.9.1/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.grid:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 2, ../../sass/uebung3/_uebung3_layout.scss */
.p13n_visibleproductitem {
  width: 50%;
  float: left;
}

/* line 5, ../../sass/uebung3/_uebung3_layout.scss */
.p13n_visibleproductitem:nth-child(1n) {
  clear: none;
}

/* line 8, ../../sass/uebung3/_uebung3_layout.scss */
.p13n_visibleproductitem:nth-child(2n+1) {
  clear: both;
}

@media (min-width: 28em) {
  /* line 2, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem {
    width: 25%;
    float: left;
  }

  /* line 5, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem:nth-child(1n) {
    clear: none;
  }

  /* line 8, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem:nth-child(4n+1) {
    clear: both;
  }
}
@media (min-width: 48em) {
  /* line 2, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem {
    width: 16.66667%;
    float: left;
  }

  /* line 5, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem:nth-child(1n) {
    clear: none;
  }

  /* line 8, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem:nth-child(6n+1) {
    clear: both;
  }
}
@media (min-width: 62em) {
  /* line 2, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem {
    width: 8.33333%;
    float: left;
  }

  /* line 5, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem:nth-child(1n) {
    clear: none;
  }

  /* line 8, ../../sass/uebung3/_uebung3_layout.scss */
  .p13n_visibleproductitem:nth-child(12n+1) {
    clear: both;
  }
}
/* line 29, ../../sass/uebung3/_uebung3_layout.scss */
.footer {
  width: 100%;
  float: left;
}
/* line 31, ../../sass/uebung3/_uebung3_layout.scss */
.footer .item {
  width: 50%;
  float: left;
}

/* line 13, ../../sass/uebung3/uebung3.scss */
.p13n_responsiveCinema2 {
  background-color: darkgrey;
}

/* line 17, ../../sass/uebung3/uebung3.scss */
.p13n_visibleproductitem {
  border: 1px solid;
}
/* line 5, ../../sass/uebung3/_uebung3_product_style.scss */
.p13n_visibleproductitem .productImageContainer img {
  width: 100%;
}
/* line 9, ../../sass/uebung3/_uebung3_product_style.scss */
.p13n_visibleproductitem .title {
  background-color: green;
  font-size: 1.7em;
}
@media (min-width: 62em) {
  /* line 9, ../../sass/uebung3/_uebung3_product_style.scss */
  .p13n_visibleproductitem .title {
    background-color: cornflowerblue;
  }
}
/* line 18, ../../sass/uebung3/_uebung3_product_style.scss */
.p13n_visibleproductitem .priceInfo {
  font-size: 0.5em;
  background-color: lightgreen;
}
@media (min-width: 62em) {
  /* line 18, ../../sass/uebung3/_uebung3_product_style.scss */
  .p13n_visibleproductitem .priceInfo {
    font-size: 1.5em;
    background-color: lightblue;
  }
}

/* line 21, ../../sass/uebung3/uebung3.scss */
.footer {
  display: none;
  height: 100%;
}
/* line 15, ../../sass/uebung3/_uebung3_footer_style.scss */
.footer .item {
  border: 1px solid;
  height: 301px;
  background-color: red;
}
