

.header{
	background: $grey400;
	.steps{
		@include span(4);
		.step {
			color: $white;
			text-align: center;
			@include span(susy-get(columns) / 4);
			span {
				display:none;
			}
		}
	}

	.doneButton{
		@include span(2);
			text-align: right;
	}
}

.basketName{
	font-weight: bold;
	text-align: center;
	background: $grey400;
}

.gesamt_value,.gesamt_txt,.price{
	font-weight: bold;
}

.bottom-buttons{
	@include span(6);
	.button{
		@include span(3);
	}
	.button-right{
		@include span(3);
		text-align: right;
	}
}
.articleDisplay{
	background: $grey25;
}

/* arcticles */
.price,.value{
	text-align: right;
}
.articleDisplay{
	position:relative;
	@include span(6);
	.title{
		font-weight: bold;
	}
	.articleImage {
		@include span(2);
		img {
			width:100%;
		}

	}
	.articleDetails {
		@include span(4);

	}
	.buttons {
		position:absolute;
		width:auto;
		right:0;
	}
}
.amountAndPrice{
	background: $grey200;
	@include span(6);
	.amount,.price{
		@include span(3);
	}
}
/* footer */
.prizes{
	@include span(6);
	.label {
		@include span(4);
	}
	.value {
		@include span(2 last);
	}
}

@include susy-breakpoint($large-width, $large-cols) {
	.header{
		@include span(4 last);
		.doneButton{
			display:none;
		}
		.steps{
			.step {
				span {
					display: block;
				}
			}
		}
	}
	.bottom-buttons{
		@include span(4 last);
	}
	.baskets {
		@include span(8);
	}
	.articleDisplay{
		.articleImage {
			@include span(1);
		}
		.articleDetails {
			@include span(4);

		}
	}
}
@include susy-breakpoint($extra-large-width, $extra-large-cols) {
	.header,.bottom-buttons{
		@include span(3 last);
	}
	.baskets {
		@include span(9);
	}	
}